h1 {
    text-align: center;
}
td {
    height: 100px;
    width: 100px;
}
.middle {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.center {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
table {
    margin: 0 auto;
}
